:root {
    --black: #000;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: var(--black);
}

header,
main,
footer {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

a {
    color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
}

/* HEADER */
header {
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
    align-items: center;
}

header .left, header .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-right: 80px;
}

.navigation a {
    font-size: 22px;
    font-weight: 500;
    margin-right: 30px;
}

.navigation a.active {
    color: #4200FF;
}

.navigation a:hover {
    color: #4200FF;
}

.navigation a.active:hover {
    color: green;
}

.navigation a:last-child {
    margin-right: 0
}

.right .tel {
    font-size: 18px;
    margin-right: 40px;
}

.right .icons {
    display: flex;
}

.right .dot {
    margin-right: 20px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #F2F3F5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons .dot:last-child {
    margin-right: 0;
}

.right img {
    width: 20px;
    height: 20px;
}

/* 1-ST BLOCK */
.first-block {
    margin-bottom: 40px;
}

.first-block .content {
    padding: 140px 0 160px 60px;
    background: #F5F5F5;
    background-image: url("./images/wheel-tire-1.png");
    background-repeat: no-repeat;
    background-position: bottom 60px right -100px;
    border-radius: 10px;
}

.first-block h1 {
    font-size: 41px;
    line-height: 53px;
    font-weight: 700;
    max-width: 625px;
    margin-bottom: 10px;
}

.first-block p {
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 30px;
}

.first-block .search {
    position: relative;
    max-width: 514px;
}

.first-block input {
    width: 100%;
    font-size: 18px;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.6);
    background: #F5F5F5;
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 20px;
}

.first-block button {
    width: 75px;
    padding: 20px;
    background: rgba(66, 0, 255, 0.8);
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    cursor: pointer;
    position: absolute;
    right: 0;
  }

/* 2-ND BLOCK */
.second-block {
    margin-bottom: 80px;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    gap: 20px;
}

.article {
    background: #FFFFFF;
    border: 1.5px solid #F2F2F2;
    border-radius: 5px;
    display: flex;
    flex: 1;
}

.article .card-img {
    width: 160px;
    height: 140px;
    background: #F9F9F9;
    border-radius: 4px 0px 0px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article .card-text {
    padding: 36px 30px 0 15px;
}

.article .card-text h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 10px;
}

.article .card-text p {
    width: 194px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.6);
}

/* 3-RD BLOCK */
.third-block {
    margin-bottom: 60px;
}

.third-block .main {
    display: flex;
    margin-bottom: 40px;
}

.third-block .sidebar-column {
    padding: 10px 10px 0 10px;
    margin-right: 20px;
    background: #F7F7F7;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-basis: 380px;
    flex-shrink: 0;
}

.third-block .sidebar-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px 20px 0;
    font-weight: 500;
    font-size: 22px;
    line-height: 20px;
}

.third-block .sidebar-row.active {
    background: #4200FF;
    border-radius: 5px;
    color: #FFFFFF;
}

.third-block .sidebar-row .row-img {
    width: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-block .sidebar-row .row-text {
    flex-grow: 1;
}

.third-block .paging {
    align-self: flex-end;
}

.third-block ul {
    display: flex;
    list-style: none;
}

.third-block li {
    margin-right: 8px;
    background: #FFFFFF;
    border: 1px solid #DFE3E8;
    border-radius: 4px;
    padding: 5px;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    background: #F7F7F7;
}

.cards .card {
    display: flex;
    flex-direction: column;
    /* flex-basis: 278px; */
    background: #F7F7F7;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    flex: 1;
}

.cards .card-img {
    width: 278px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 5px 5px 0px 0px;
}

.cards .card-text {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
}

.cards .card-text .stars {
    color: #FED712;
}

.cards .card-text h5 {
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    margin-bottom: 20px;
}

.cards .card-text .price {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #4200FF;
}

.cards .card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 4-TH BLOCK */
.fourth-block {
 margin-bottom: 80px;
}

/* 5-TH BLOCK */
.fifth-block {
    margin-bottom: 80px;
}

.fifth-block .content {
    background: #F7F7F7;
    border-radius: 5px;
    display: flex;
}

.fifth-block .fifth-text {
    padding: 80px 0 0 40px;
    width: 40%;
}

.fifth-block .fifth-text h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    margin-bottom: 54px;
}

.fifth-block .fifth-text button {
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    background: #F7F7F7;
    border-radius: 5px;
    padding: 12px 30px;
}

.fifth-block .fifth-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

/* 6-TH BLOCK */
.sixth-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.sixth-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.sixth-top p {
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
}

.sixth-block .card-img {
    height: 230px;
    width: 303px;
}

/* 7-TH BLOCK */
.seventh-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
}

.seventh-block .seventh-top {
    margin-bottom: 30px;
}

.seventh-block p {
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
}

.seveth-brands {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 22px;
}

.brand-card {
    min-width: 303px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F7F7F7;
    border-radius: 5px;
    flex: 1;
}

.brand-card .brand-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
}

/* FOOTER */
footer {
    background: #2F2F2F;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 30px 80px 100px 80px;
}

.footer-left {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 30%;
}

footer h5 {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 20px;
}

footer a {
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer-left .links {
    display: flex;
    flex-direction: column;
}

.footer-right-icons i {
    margin-right: 25px;
    font-size: 30px;
}

.footer-right-icons i:last-child {
    margin-right: 0
}

/* @media (max-width: 1440px) {
    header {
        padding: 0 30px;
    }

    .logo {
        margin-right: 40px;
    }

    .navigation a {
        margin-right: 20px;
    }

    .right .tel {
        margin-right: 20px;
    }

    section {
        margin: 0 30px 40px 30px;
    }

    .third-block .sidebar-column {
        flex-basis: 320px;
    }

    footer {
        padding: 30px;
    }
} */

@media (max-width: 1200px) {
    .first-block {
        background-image: none;
    }

    .first-block h1 {
        max-width: none;
    }
}

@media (max-width: 1024px) {
    header .right {
        flex-direction: column;
    }

    header .left {
        flex: 1;
    }

    .logo {
        order: 2;
        display: flex;
        justify-content: center;
        flex: 1;
        margin-right: 0px;
    }
    
    .navigation {
        order: 1;
        display: flex;
        flex-direction: column;
    }

    .right .tel {
        order: 2;
        margin-right: 0;
    }
    
    .right .icons {
        order: 1;
        margin-bottom: 5px;
    }

    .fifth-block {
        flex-direction: column;
    }

    .fifth-block .fifth-text,
    .fifth-block .fifth-img {
        width: 100%;
    }
}

@media (max-width: 768px) {
    section {
        margin: 0 10px 40px 10px;
    }

    .first-block {
        padding: 70px 0 80px 30px;
    }

    .third-block .main {
        flex-direction: column;
    }

    .third-block .sidebar-column {
        margin-bottom: 20px;
        margin-right: 0;
    }
}

@media (max-width: 550px) {
    header {
        flex-direction: column;
        height: 180px;
    }

    .logo {
        order: 1;
        margin-right: 5px;
    }
    
    .navigation {
        order: 2;
    }

    header .right {
        margin-bottom: 10px;
    }
}